.imageTitle{
  font-size:30px;
  color:blue;
}

header{
  width:100%;
  background-color: #78AB46;
  color: #FFF;
  padding: 10px 0px;
  text-align:center;
}

#suits{
  width:100%;
}

.suit{
  float:left;

}

.clearFix{
  clear:both;
}

.center{
    margin: 0px auto;
    display: block;


}
